*{
    background-color: lightblue;
    text-align: start ;
}

nav {
    position:relative;
    float:right;
}

nav a {
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  background-color: white;
}

/* make the 3 dog pictures in the middle */
.project {
  position:relative;
  text-align: center;
}

/* words in the middle of pictures */
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
}

/* change header sizes */
h1, h2 ,h3 ,h4 {
  font-size: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
